<div class="panel ">
    <table class="table ">
        <thead>
        <h2>Activity Details</h2>
        <a href="/activity/create">
            <button type="button" class="btn btn-primary"style="padding: 8px 31px 6px 30px; float: right;">Add</button>
        </a>
        <tr>
            <th>Activity_ID</th>
            <th>Discription</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody style="background-color:#fff;">
        <tr v-for = "ACT in activity">
            <td>{{ACT.ID}}</td>
            <td>
                <div v-if="Editing">
                    <input type="text" class="form-control" name="discription"  v-model="ACT.discription" >

                </div>
                <div v-else>
                    <p>{{ACT.discription}}</p>
                </div>

            </td>
            <td>
                <div v-if="Editing">
                    <button v-on:click="save($index)" type="submit" class="btn btn-primary" style="padding: 1px 38px 3px 38px;">Save</button>
                </div>
                <div v-else>
                    <button v-on:click="isEditing()" type="button" class="btn btn-primary" style="padding: 1px 38px 3px 38px;">Edit</button>
                </div>

            </td>
            <td>
                <button onClick="window.location.reload()" v-on:click="deleted($index)" type="button" class="btn btn-danger"style="padding: 1px 38px 3px 38px;">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>