<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>learning node js</title>
    <link href="/public/css/main.css" rel="stylesheet">
    {% block style%}{%endblock%}
</head>
<body>
{%if messages.error%}
<div class="alert alert-warning">
    {{messages.error}}
</div>
{%endif%}
{% block body%}
{%endblock%}
<script type="text/javascript" src="/public/scripts/system.js"></script>

<script type="text/javascript" src="/public/scripts/jquery.js"></script>
<script type="text/javascript" src="/public/scripts/bootstrap.js"></script>
<script type="text/javascript" src="/public/scripts/main.js"></script>
<script type="text/javascript" src="/config.js"></script>
{% block script%}
{%endblock%}
</body>
</html>